<div id="userContent">
	<div>  
		<div>  

			<table cellpadding="12" class="table table-bordered table-hover">  
				<tr>  
					<td>  
						<b>Id</b>  
					</td>  
					<td>  
						<b>recipe Name</b>  
					</td>  
					<td>  
						<b>recipe image</b>  
					</td>  
					<td>  
						<b>recipe ingredient</b>  
					</td>  
					<td>  
						<b>recipe description</b>  
					</td>  
				</tr>  
					<tr ng-repeat="a in recipes">  
					
					<td>  
					
						{{$index+1}}  
					</td>  
					<td>  
					
						{{a.name}}  
				
					</td>  
									
					<td>  
							<img src="{{a.image}}">
						
					</td>  
								
					<td>  
						{{a.ingredient}}   
					</td>  				
									
					<td>  
						{{a.description}}
					</td>  
									
				</tr>  
	</table>  
	</div>  
		<div>  
			<p> New Recipe</p>  
		
			<form action="http://localhost:8080/user/recipeupload" method="post" enctype="multipart/form-data">
				<input type="hidden" id="userid" name="userid"  ng-model="userid" value="{{userid}}" />
				<table>  
						<tr>  
							<td>Name : </td>  
							<td>  
								<input type="text" id="txtName" name="recipeName" />  
							</td>  
						</tr>  
						<tr>  
		
							<td>image : </td>  
							<td>  
									<input type="file" id="photo" name="photo"/> 
							</td>  
						</tr>  
						<tr>  
							<td>ingredient : </td>  
							<td>  
								<input type="text" id="txtAddress" name="recipeingredient" />  
							</td>  
						</tr>  
						<tr>  
							<td>description : </td>  
							<td>  
								<input type="text" id="txtdescription" name="recipedescription" />  
							</td>  
						</tr>  
						
					</table>  
				<button id="Button1">Submit</button>
				</form>

			<!-- <input type="submit" value="Submit" ng-click="AddRecipe()" />   -->
		</div>  
	</div>  

</div>