<div class="container">

<!-- Form Name -->
<legend><center><h2><b>Registration Form</b></h2></center></legend><br>

<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label">First Name</label>  
  <input  name="first_name" ng-model="first_name" placeholder="First Name" class="form-control"  type="text">
</div>

<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label" >Last Name</label> 

    

  <input name="last_name" ng-model="last_name" placeholder="Last Name" class="form-control"  type="text">


</div>

  


<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label" >Password</label> 
    

  <input name="user_password" ng-model="password" placeholder="Password" class="form-control"  type="password">
 
</div>

<!-- Text input-->
       <div class="form-group">
  <label class="col-md-4 control-label">E-Mail</label>  
 
    
  <input name="email" ng-model="email" placeholder="E-Mail Address" class="form-control"  type="text">
   
</div>


<!-- Text input-->
       
<div class="form-group">
  <label class="col-md-4 control-label">Contact No.</label>  
   
 
  <input name="contact_no" ng-model="contact_no" placeholder="(+91)" class="form-control" type="text">
    
</div>



<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label"></label>
  <div class="col-md-4"><br>
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<button type="submit"  ng-click="register()" class="btn btn-warning" >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspSUBMIT&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</button>
  </div>
</div>



    </div>